# vscode, intellij, cursor
.history
*.iml
.idea
.cursor/mcp.json

# npm and system files
node_modules
.DS_Store

# obsidian vault & build file
/dev-vault/
/build/taskui-dev

# test coverage output
/coverage/
