# vscode
.vscode
.history

# Intellij
*.iml
.idea

./main.js
./styles.css
./main.css

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
/main.css
/styles.css
/styles.js
/build/taskui-plugin-dev/main.css
/build/taskui-plugin-dev/main.js
/build/taskui-plugin-dev/styles.css
/build/taskui-plugin-dev/styles.js

/build/taskui-plugin/
/dev-vault/.obsidian/plugins/

# cursor
.cursor/mcp.json
.cursor/memory/current_state.md
