name: Lint, Format and Build

on:
    push:

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node_version: [20.x, 22.x, 24.x]

        name: Node ${{ matrix.node_version }} Build
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  run_install: false

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node_version }}
                  cache: "pnpm"

            - name: Dependency Install
              run: pnpm install

            - name: Run Prettier
              run: pnpm run check

            - name: Build with Vite
              run: pnpm run build
